{% extends "base_layout.html" %}
{% block title %}Home{% endblock %}
{% block custom_assets %}
    <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
    {% assets "landing_css" %}
        <link rel="stylesheet" type="text/css" href="{{ ASSET_URL }}" />
    {% endassets %}
{% endblock %}

{% block content %}
    <div class="row header mt-4 mb-4">
        <div class="col-sm-12">
            <div class="header-title">
                <h1>Analyze NBA Data</h1>
                <div class="header-description mb-4">
                    A platform to easily access and analyze NBA data
                </div>
            </div>
        </div>
        <a href="{{ url_for('teams.index') }}" class="btn btn-outline-primary mr-2" role="button">Search Teams</a>
        <a href="{{ url_for('players.index') }}" class="btn btn-outline-primary mr-2" role="button">Search Players</a>
        <a href="{{ url_for('trades.index') }}" class="btn btn-outline-primary mr-2" role="button">Traded Players</a>
        <a href="{{ url_for('retired.index') }}" class="btn btn-outline-primary mr-2" role="button">Retired Players</a>
        <a href="{{ url_for('drafted.index') }}" class="btn btn-outline-primary mr-5" role="button">NBA Draft News</a>
        <a href="{{ url_for('reset_data.index') }}" class="btn btn-secondary" role="button">RESET DATA</a>
    </div>
{% endblock %}