{% extends "base_layout.html" %}
{% from "_formhelpers.html" import render_field %}
{% block title %}Retired{% endblock %}
{% block custom_assets %}
    <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
    {% assets "landing_css" %}
        <link rel="stylesheet" type="text/css" href="{{ ASSET_URL }}" />
    {% endassets %}
{% endblock %}

{% block content %}
    <div class="row header mt-4 mb-4">
        <div class="col-sm-12">
            <div class="header-title">
                <h1>Retired Page</h1>
                <div class="header-description mb-4">
                    Enter player name to delete players that have retired.
                </div>
            </div>
        </div>
    </div>

    <div class="container">

        <form method="POST" action="{{ url_for('retired.create') }}">
    
          {{ render_field(form.PlayerName, placeholder="LeBron James") }}
          <button type="submit" class="btn btn-primary">Remove Player</button>
        </form>
    
      </div>

      
    {% if message %}
        <div class="header-description mb-4">
        {{ message }}
        </div>
    {% endif %}

{% endblock %}