{% extends "base_layout.html" %}
{% block title %}{{title}}{% endblock %}
{% block custom_assets %}
    <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
    {% assets "landing_css" %}
        <link rel="stylesheet" type="text/css" href="{{ ASSET_URL }}" />
    {% endassets %}
{% endblock %}

{% block content %}

    {% for table in tables %}
                {{titles[loop.index]}}
                {{ table|safe }}
    {% endfor %}

{% endblock %}